@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa:wght@500&family=El+Messiri&family=Josefin+Sans:wght@200;400&family=Lobster&family=Pacifico&family=Roboto&family=Sofia&family=Ubuntu:wght@300&family=Varela+Round&family=Zen+Loop&display=swap');
:root{
  --primarycolor:orangered;
}
*{
  box-sizing: border-box;

}
body::-webkit-scrollbar{
  display: none;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0px;
  height: 50px;
  padding: 5px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
  box-sizing: content-box;
}
#cross{
  margin-left: 170px;
  margin-top: 10px;
  color: white;
}
#wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: 2;
}
aside{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  height: 100vh;
  width: 200px;
  background-color:var(--primarycolor);
  transition: 0.3s ease-out;
  flex-direction: column;
}
aside ul{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding-left: 0px;
}
aside ul li{
  height: 50px;
  width: 200px;
  padding-left: 20px;
  
}

ul{
  margin: 0px;
  margin-right: 20px;
}
nav *{
  display: flex;
}
nav h1{
  font-size: 1.2rem;
  margin-left: 20px;
}
#navs{
  display: block;
  margin-right: 20px;
}
nav a{
  display: flex;
  align-items: center;
}
#navs a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-out;
  display: flex;
  height: 50px;
  min-width: 50px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px; 
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600px;
  
  
}
aside a{
  color: white;
  text-decoration: none;
}
#menu{
  margin-right: 40px;
  display: none;
  position: relative;
  top: 10px;
}
nav i{
  font-size: 1.5rem;
}
nav div{
  height: 100%;
}
#navs a:hover{
  color: var(--primarycolor);
}



main {
  margin-top: 60px;
  background-color: white;
}
.prevsblock{
  display: flex;
  padding: 20px;
}
.imagesection,.introsection{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prevsblock img{
  height: 100%;
  width: 100%;
}

.introsection{
  padding:30px;
  flex-direction: column;
  align-items: start;
}
.imagesection{
  padding: 30px;
}
main h1{
  font-size: 5rem;
  margin: 0px;
  color: #232424;
  
}
main h1::first-letter{
  color: var(--primarycolor);
}
main h2{
  font-size: 2.5rem;
  margin: 0px;
  line-height: 3rem;
  color: #3d3d3dc4;
  font-weight: 600;
}
main h2::first-letter{
  color: var(--primarycolor);
}
.prevsblock p{
  font-size: 1.3rem;
  color: #6d6d6d;
  font-family: 'Ubuntu', sans-serif;
}
.primarybtn{
  background-color:var(--primarycolor);
  color: rgb(255, 255, 255);
  height: 50px;
  width: 150px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  
}
main .primarybtn{
  background: linear-gradient(to right,rgb(255, 51, 0),rgb(248, 115, 63));
}
#projectprev{
  background-color: whitesmoke;
  height: 300px;
}
#projectprev .primarybtn{
  background-color: orangered;
  
}
.headings{
  text-align: center;
  background-color: whitesmoke;
}
#blogsprev{
  background-color: white;
  height: 300px;
}
#contactprev{
  height: 300px;
  background-color: white;
}

footer{
  background-color: var(--primarycolor);
}footer p{
  margin: 0px;
  padding: 10px 0px ;
  color: whitesmoke;
 
}
footer h3{
  margin: 0px;
  text-align: center;
  padding: 20px 0px;
  color: whitesmoke;
  font-family: 'Zen Loop', cursive;
  font-size: 2rem;
  border-bottom: 1px solid rgba(231, 231, 231, 0.329);
}
footer div{
  text-align: center;
  padding: 10px 0px;
  
}
footer i{
  font-size: 1.5rem;
  margin: 0px 10px;
  color: white;
}
#skillsprev{
  height: 300px;
  background: linear-gradient(to right,orangered,rgba(255, 68, 0, 0.856),orangered);
  width: 98vw;
  margin: auto;
 border-radius: 6px;
 
}
#skillsprev h2{
  margin:0px;
  text-align: center;
  padding: 20px 0px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: lighter;

}

#skillsprev img{
  height: 60px;
  width: 60px;
  margin: 0px 20px;
  
}
#skillsprev div{
  text-align: center;
  padding-top: 20px;

}
@media (min-width: 748px) and (max-width: 1000px){
  main h1{
    font-size: 4rem;
  }
  main h2{
    font-size: 2rem;
    line-height: 2rem;
  }
  .prevsblock p{
    font-size: 1rem;
  }
  #projectprev,#blogsprev,#contactprev,#skillsprev{
    height: 250px;
  }
  #skillsprev img{
    height: 40px;
    width: 40px;
  }
  .primarybtn{
    height: 40px;
  }

}
@media (max-width: 747px){
  #navs{
    display: none;
  }
  #menu{
    display: block;
  }
  .prevsblock{
    flex-direction: column;
  }
  .imagesection{
    display: none;
  }
  .introsection{
    width: 100%;
    
  }
  main h1{
    font-size: 3.5rem;
  }
  main .imagesection{
    display: flex;
    order: 1;
    width: 100%;
  }
  main .introsection{
    order: 2;
  }

}
@media (max-width: 576px){
  main h1{
    font-size: 2.8rem;
  }
  main h2{
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .prevsblock p{
    font-size: 1rem;
  }
  .introsection{
    padding: 10px;
  }
  .primarybtn{
    height: 40px;
  }
  #skillsprev img{
    height: 40px;
    width: 40px;
    margin: 10px;
  }
  #skillsprev div{
    padding-top: 0px;
  }
  
  #projectprev,#blogsprev{
    height: 225px;
  }
  #skillsprev{
    width: 95vw;
    height: 225px;
  }
}

