@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa:wght@500&family=El+Messiri&family=Josefin+Sans:wght@200;400&family=Lobster&family=Open+Sans&family=Pacifico&family=Poppins:wght@300&family=Roboto&family=Sofia&family=Ubuntu:wght@300&family=Varela+Round&family=Zen+Loop&display=swap');
:root{
  --primarycolor:orangered;
  --secondarycolor:#0f0f0f;
  --tertiarycolor:#4e4d4d;
  --bg1:white;
  --bg2:#ededed;
  --card:white;
  --hover:#b1b0b03d;
  --navbg:white;
  --footerside:orangered;
  --btn2:rgba(255, 68, 0, 0.185);
  --shadow:rgba(185, 185, 185, 0.432);
  
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto" sans-serif;
  color: whitesmoke;
  letter-spacing: 0.5px;
  

}

#title a,#asidenav a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  background: linear-gradient(orangered,black);
  background-clip: text;
  position: relative;
  bottom: 4px;
}
#content{
  min-height: calc(100vh - 224px);
}
.prevsblock{
  background-color: var(--bg1);
}

body::-webkit-scrollbar{
  display: none;
}
body{
  background-color: var(--bg1);
}
html{
  font-size: 1rem;
}

nav{
  display: flex;
  background-color: var(--navbg);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 5;
  padding: 5px 20px;
  width: 100vw;
}
#cross{
  margin-top: 20px;
  color: white;
}
#wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: 2;
}
aside{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  height: 100vh;
  width: 250px;
  background-color:var(--footerside);
  transition: 0.3s ease-out;
  flex-direction: column;
  
}
a{
  text-decoration: none;
}
aside ul{
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 250px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding:40px 0px;
}
aside ul li{
  height: 50px;
  width: 200px;
  padding-left: 40px;
  
}
#asidenav{
  margin: 0px;
  width: 220px;
  margin: 0px auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
#asidenav a{
  color:whitesmoke;
  font-size: 2rem ;
}
ul{
  margin: 0px;
  margin-right: 20px;
}
nav *{
  display: flex;
}
#mode{
  color: var(--secondarycolor);
  margin-right: 0px;
  position: fixed;
  right: 20px;
  top: 18px;
}
nav h1{
  font-size: 1.2rem;
  margin-left: 20px;
}
#navs{
  display: flex;
  align-items: center;
  position: relative; 
  width: 500px;
  margin: 0px auto;
}
#navs li{
  height: 45px;
  width: 90px;
}
nav a{
  display: flex;
  align-items: center;
}

#navs a{
  text-decoration: none;
  background-color: transparent;
  color: var(--secondarycolor);
  display: flex;
  height: 45px;
  width: 90px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  z-index: 3;
  
} 

#navback{
  position: absolute;
  top: 0px;
  margin-left: 0px;
  height: 100%;
  width: 90px;
  background-color: var(--hover);
  z-index: 1;
  transition: 0.1s;
  border-radius: 5px;
  display: none;
}
#navs li:hover ~ #navback{
  display: block;
}
#home:hover ~ #navback{
  margin-left: 0px;
}
#about:hover ~ #navback{
  margin-left: 90px;
}
#blogs:hover ~ #navback{
  margin-left: 180px;
}
#projects:hover ~ #navback{
  margin-left: 270px;
}
#contact:hover ~ #navback{
  margin-left: 360px;
}
aside a{
  color: white;
  text-decoration: none;
}

#menuicon{
  display: none;
  color: var(--secondarycolor);
  position: fixed;
  top: 18px;
  left: 50vw;
}

nav i{
  font-size: 1.5rem;
  display: inline-block;
  cursor:pointer;
}
nav div{
  height: 100%;
}

main {
  margin-top: 50px;
}
main .introsection{
  padding-left: 50px;
}
.prevsblock{
  display: flex;
  padding: 20px;
}
.imagesection,.introsection{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prevsblock img{
  height: 250px;
  width: 250px;
}
#mainblock img{
  height: 90%;
  width: 90%;
}
.introsection{
  padding:30px;
  flex-direction: column;
  align-items: start;
}
.imagesection{
  padding: 30px;
  overflow: hidden;
}
main .introsection p{
  font-size: 1.2rem;
  color: rgb(131, 131, 131);
  font-weight: 400;
  font-family: 'Poppins';
}
main h1{
  font-size: 4.5rem;
  line-height: 4.5rem;
  margin: 0px;
  margin-bottom: 20px;
 
  
}
main h1,#mainblock h2{
  color: transparent;
  background: linear-gradient(to right,var(--secondarycolor),var(--tertiarycolor));
  background-clip: text; 
}
main h1::first-letter{
  color: var(--primarycolor);
}
#mainblock{
  min-height: calc(100vh - 50px);
}
#mainblock h2{
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700; 
  
}

#mainblock .primarybtn{
  margin-top: 1rem;
}
main h2::first-letter{
  color: var(--primarycolor);
}
.prevsblock p{
  font-size: 1.1rem;
  color: var(--tertiarycolor);
  margin: 20px 0px;
  
}
.prevsblock h2{
  font-size: 2rem;
  color: var(--secondarycolor);
  font-weight: 500;

}

.prevsblock h2 span{
  color: var(--primarycolor);
}
.prevsblock i{
  font-size: 1.7rem;
}
.primarybtn{
  background-color:var(--primarycolor);
  color: rgb(241, 241, 241);
  height: 45px;
  width: 130px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;  
  cursor: pointer;
  text-transform: capitalize;
  
}
.primarybtn:hover{
  background-color:transparent;
  color: var(--secondarycolor);
  border: 2px solid var(--primarycolor);
}
.secondarybtn{
  background-color:var(--btn2);
  border: 1px solid var(--primarycolor);
  border: none;
  color: var(--primarycolor);
  height: 45px;
  width: 130px;
  border-radius: 5px; 
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}

.btngroup img{
  height: 1.3rem;
  width: 1.4rem;
}
.btngroup{
  display: flex;
  align-items:center;
  margin: 20px 0px;
}

#projectprev img{
  transform: scalex(-1);
  z-index: 0;
}

.headings{
  text-align: center;
  background-color: whitesmoke;
}
.mainblocks{
  margin-top: 80px;
}
.mainblocks > h1{
  color: var(--tertiarycolor);
  text-align: center;
  margin: 20px 0px;
  font-weight: 500;
  letter-spacing: normal;
  
  text-transform: uppercase;
}
.mainblocks h1 span{
  color: var(--primarycolor);
}
.mainblocks{
  
  background-color:var(--bg2);
  margin-top: 60px;
  padding: 20px;
  padding-bottom: 40px;
  min-height: calc(100vh - 149px);
  
  
}
#blogsprev{
  min-height: 300px;
}
#contactprev{
  min-height: 300px;
  
}
#contactprev .primarybtn{
  font-size: 1.2rem;
  background-color: #0061b7;
  border: none;
  transition: 0.2s;

}
#contactprev .primarybtn:hover{
  background-color: #00437e;
  color: white;
 
}
footer{
  background-color: var(--footerside);
}footer p{
  
  margin-top: 10px;
  padding: 15px;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
footer h3{
  margin: 0px;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'Ubuntu', sans-serif;
  
  
}
footer div{
  text-align: center;
  padding-top: 5px; 
}
footer i{
  font-size: 1.5rem;
  margin: 0px 10px;
  
  
}
#skillsprev{
  background-color: var(--bg1);
  padding-bottom: 40px;
}
#skillsprev h2{
  margin:0px;
  text-align: center;
  padding: 20px 0px;
  font-weight: 500;
  font-size: 2rem;
  color: var(--secondarycolor);
  padding-bottom: 30px;

}

#skillsprev img{
  height: 44px;
  margin:14px;
 
  
}
#skillsprev > div{
  display: flex;
  margin: auto;
  width: 600px;
  flex-wrap: wrap;

}
.wrapperimage{
  background-color: var(--card);
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 20%);
  
  
}
#projects h1::first-letter{
  color: var(--primarycolor);
}
#cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  
  
}
#cards h2,.blogs h1{
  margin: 20px 0px;
  color: var(--secondarycolor);
  font-size: 1.7rem;
  /* font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; */
  font-weight: 500;
  line-height: 1.7rem;

}
#cards h4{
  margin: 10px 0px;
  color: var(--secondarycolor);
  font-size: 1rem;
  font-weight: 500;
}
#cards p,.blogs span,#about p{
  margin: 10px 0px;
  margin-bottom: 20px;
  color: var(--tertiarycolor);
}
#cards > a,.blogs{
  
  width: 400px;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  transition: 0.2s ease-in-out box-shadow;
  padding-bottom: 40px;
  cursor: pointer;
  background-color: var(--card); 
  
}
#cards > a:hover,.blogs:hover{
  
  box-shadow:  var(--shadow) 3px 3px 10px 2px,var(--shadow) -3px -3px 10px 2px;
  
  
}
#About div {
  padding: 15px;
  text-align: justify;
  
}
#About div p{
  color:var(--tertiarycolor);
}
.blogslist{
  display: flex;
  align-items: center;
  justify-content: center;
}
#About {
  background-color:var(--bg1);
 
}
.blogs a{
  color: var(--primarycolor);
}
.blogs a:hover{
  font-weight: bold;
}
.blogs h1{
  text-align: start;
}
#blog1{
  margin-left: 0px;
}

@media (min-width: 748px) and (max-width: 1000px){
  main h1{
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 15px;
    
  }
  #mainblock h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    
  }
  #mainblock p{
    font-size: 1.2rem;
    margin: 15px 0px;
  }
  
  .prevsblock p{
    font-size: 1rem;
  }
  
  #projectprev,#blogsprev,#contactprev{
    min-height: 250px;
  }
  #skillsprev img{
    height: 38px;
    width: 38px;
  }
 

}
@media (max-width: 747px){
  
  #navs{
    display: none;
  }
  
  .blogslist{
    flex-direction: column;
  }
  .blogs{
    width: 100%;
    margin: 0px auto 20px auto;
  }
  #blog1{
    margin-top: 20px;
  }
  #menuicon{
    display: block;
    
  }
  .prevsblock{
    flex-direction: column;
  }
  /* .imagesection{
    display: none;
  } */
  .introsection{
    width: 100%;
    
  }
  .prevsblock h2{
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
  #skillsprev > div{
    display: flex;
    margin: auto;
    width: 95vw;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  #skillsprev{
    padding-bottom: 20px;
  }
  .wrapperimage{
    height: 60px;
    width: 60px;
  }
  #skillsprev img{
    height: 38px;
    width: 38px;
  }
  
  .prevsblock img,#mainblock img{
    width:400px;
  }
  .imagesection{
    display: flex;
    width: 100%;
    margin: auto;
  }
  main .imagesection,#blogsprev .imagesection{ 
    order: 1;  
  }
  main .introsection,#blogsprev .introsection{
    order: 2;
  }
  

}
@media (max-width: 576px){
  main h1{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
  }
  #mainblock h2{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
  }
  #mainblock p{
    font-size: 1rem;
  }
  .prevsblock img{
    width:200px;
  }
  #mainblock img{
    width: 250px;
  }
  .imagesection{
    padding: 10px;
  }
  #mainblock > .imagesection{
    padding: 20px;
  }
  #mainblock > .introsection{
    padding: 10px;
    padding-top: 30px;
  }
  
  .prevsblock p{
    font-size: 1rem;
  }
  .introsection{
    padding: 10px;
  }
 
  #skillsprev div{
    padding-top: 0px;
    
  }
  
  #projectprev,#blogsprev{
    min-height: 100px;
  }
  #skillsprev{
   
   min-height: 200px;   
  }
  #skillsprev h2{
    font-size: 1.7rem;
  }
  #contactprev{
    min-height: 200px;
  }
  .btngroup{
    flex-wrap: wrap;
  }
  #projects{
    padding: 10px;
  }
  footer p{
    font-size: 0.7rem;
  }
  
  
}

